.commentform{
    display: inline;
    // width: 75%;
    // margin: 0 auto;
}
.date{
    display: none;
}
.commentbox{
// background-color: red !important;
}
.hidden{
    display: none !important;
}
// .hiddenbox{
//     display: none !important;
// }