.card{
    background: transparent !important;
}
.button-box{
    display: inline-flex;
}
.edit-account{
    width: 40%;
}
.pagination {
    margin-top: 25px;

 span {
    cursor: pointer;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
  }
}  
  .pagination span.active {
    background-color: #0099FF;
    color: white;
    border: 1px solid #0099FF;
  }