html body{
  background-color: #D2B2A4;
}

.App {
  width: 75%;
  margin: 0 auto;
  /* text-align: center; */
  background-color: #D2B2A4;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .navlink{
  font-family: 'Beth Ellen', cursive;
  font-size: 1.6rem;
  color: #EC494A;
}
.navlink.active{
  color: #A0AE6F;
  font-size: 1.8rem;
font-weight: 1000;}


.navlink:hover{
  color: #F6C3A2;
}

.header{
  font-family: 'Beth Ellen', cursive;
  font-size: 2rem;
  color: #EC494A !important;

} */

.menu{
  background-color: #D2B2A4 !important;
  box-shadow: none !important;
  border: none !important;
  -webkit-box-shadow: none !important;  
}

/* form{
  width:25%;
  margin: 0 auto;
}
input{
  width: 99%;
  margin-bottom: 1rem !important;
  border-radius: .75rem ;
  padding: .25rem;
  height: 2.5rem;
  font-size: 1.5rem !important;
}
textarea{
  width: 99%;
  margin-bottom: 1rem !important;
  border-radius: .75rem ;
  padding: .25rem;
  height: 5rem;
  font-size: 1.5rem !important;
} */
/* button{ */
  /* margin: 1rem !important; */
  /* font-size: 1.5rem !important; */
/* } */
.delete{
  cursor: pointer;
}
h1{
  font-family: 'Satisfy', cursive !important;

}